.progress .bar {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* Backgrounds */
#alp-background {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 50%;
  background-color: #d21034;
  z-index: -99;
}
/*@media(max-width: 470px) {
    #alp-background {
        width: 470px;
    }
}*/
#lnp-background {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 50%;
  left: 50%;
  background-color: #00508f;
  z-index: -100;
}
#stop-watch {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 300px;
  height: 341px;
  background-image: url('../img/stop-watch.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -50;
}
@media (max-width: 1320px) {
  #stop-watch {
    display: none;
  }
}
.container {
  width: 780px;
}
body {
  position: relative;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 760px;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.download-case {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.download-case h1 {
  margin: 0px;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  line-height: 1.2em;
}
.download-case h3 {
  margin: 0px;
  color: #eeeeee;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}
.download-case p {
  color: #eeeeee;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2em;
  padding: 5px;
  text-shadow: rgba(0, 0, 0, 0.25);
}
.download-case .quote {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  margin-top: 10px;
}
footer {
  margin: 15px;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  color: #dddddd;
}
footer a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: none;
  color: red;
}
.download-button-container {
  text-align: center;
}
.primary-title {
  text-align: center;
}
.primary-title h1 {
  color: #ffffff;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0px;
  text-align: center;
  font-size: 45pt;
  font-weight: 800;
  line-height: 55pt;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.primary-title img {
  text-align: center;
  padding: 10px;
}
hr {
  border: 0;
  height: 1px;
  width: 80%;
  margin: 0px auto;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.section-header {
  margin-top: 0px;
  margin-bottom: 0px;
}
.section-header div.span12 {
  min-height: auto;
}
.section-header h4 {
  display: none;
  text-align: right;
  color: #eeeeee;
  font-variant: small-caps;
}
.itunes-download-progress-outer {
  background-image: -webkit-linear-gradient(bottom, #d3d6d9 0%, #e9ebed 100%);
  position: relative;
  padding: 10px;
}
.itunes-download-progress {
  background: #dadee0;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-color: black;
  height: 130px;
}
.itunes-download-progress h2 {
  color: #4f5459;
  font-size: 16px;
  line-height: 20px;
  text-shadow: 1px 1px white;
  text-align: left;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
}
.itunes-download-progress h1 {
  color: black;
  text-shadow: 1px 1px white;
  font-size: 22px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}
.itunes-download-progress img {
  width: 70px;
  float: left;
  margin: 10px;
  margin-top: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.itunes-download-progress .progress {
  width: 70%;
  border-radius: 4px;
  height: 5px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #a4a4a4 100%);
  margin: 0px;
  margin-bottom: 5px;
}
.itunes-download-progress .bar {
  background-image: -webkit-linear-gradient(bottom, #2676d5 0%, #98b9e6 100%);
}
.itunes-download-progress p {
  color: #4f5459;
  text-shadow: 1px 1px white;
  font-size: 14px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}
.download-button,
.upload-button {
  margin-top: 20px;
}
.youtube-upload-progress {
  background: white;
  border-width: 1px;
  border-color: #dddddd;
  height: 125px;
  padding: 10px;
}
.youtube-upload-progress h1 {
  text-shadow: none;
  color: black;
  font-size: 24px;
  text-align: left;
}
.youtube-upload-progress p {
  text-shadow: none;
  color: #555555;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  margin: 0px;
  padding: 2px;
}
.youtube-upload-progress .progress {
  background: url('../img/upload-progress-background.png');
  background-repeat: both;
  margin-top: 5px;
  margin-bottom: 5px;
}
.youtube-upload-progress .progress .bar {
  color: #438bc5;
}
.party-title {
  font-weight: 600;
  font-size: 24px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.hidden {
  display: none;
}
.dropbox-sync-progress {
  position: relative;
  background: white;
  height: 160px;
}
.dropbox-sync-progress .dxf-icon {
  display: inline-block;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  height: 48px;
  width: 48px;
  background: url('../img/dxf-257.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.dropbox-sync-progress .dxf-icon .dropbox-overlay {
  position: absolute;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
}
.dropbox-sync-progress .dxf-icon .dropbox-overlay-ok {
  background-image: url('../img/dropbox-file-ok-overlay.png');
}
.dropbox-sync-progress .dxf-icon .dropbox-overlay-sync {
  background-image: url('../img/dropbox-file-sync-overlay.png');
}
.dropbox-sync-progress .dxf-icon h5 {
  margin-top: 52px;
  text-align: center;
  font-size: 12px;
  line-height: 13px;
  margin-left: -10px;
  margin-right: -10px;
}
.dropbox-sync-progress .taskbar {
  position: absolute;
  background: #d4d0c8;
  width: 100%;
  height: 44px;
  bottom: 0px;
}
.dropbox-sync-progress .taskbar hr {
  background: white;
  width: 100%;
  margin-top: 1px;
}
.dropbox-sync-progress .taskbar .dropbox-icon {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
  right: 10px;
  bottom: 3px;
}
.dropbox-sync-progress .taskbar .dropbox-progress {
  position: absolute;
  background-color: white;
  height: 32px;
  width: 270px;
  margin: 6px;
  margin-top: 4px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.dropbox-sync-progress .taskbar .dropbox-progress div {
  font-size: 12px;
  line-height: 13px;
  color: black;
  margin-left: 6px;
  margin-top: 2px;
  vertical-align: center;
}
.dropbox-sync-progress .taskbar .dropbox-icon-idle {
  background-image: url('../img/dropbox-tray-idle.png');
}
.dropbox-sync-progress .taskbar .dropbox-icon-sync1 {
  background-image: url('../img/dropbox-tray-sync1.png');
}
.dropbox-sync-progress .taskbar .dropbox-icon-sync2 {
  background-image: url('../img/dropbox-tray-sync2.png');
}
.dropbox-sync-progress .taskbar .dropbox-icon-ok {
  background-image: url('../img/dropbox-tray-ok.png');
}
.btn.disabled {
  opacity: 1;
}
.facebook-upload-progress {
  background: white;
  height: 150px;
}
.facebook-upload-progress .facebook-header {
  background: #6e82b7;
}
.facebook-upload-progress .facebook-header h2 {
  font-weight: 700;
  font-size: 24px;
  margin: 5px;
  color: white;
}
.facebook-upload-progress h3 {
  font-size: 16px;
  color: black;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 0px;
}
.facebook-upload-progress .progress {
  height: 20px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}
.facebook-upload-progress .progress .bar {
  height: 20px;
  background: #7081b5;
  border-radius: 0px;
}
.facebook-upload-progress p {
  color: #555555;
  margin-left: 10px;
  margin-top: 8px;
  padding: 0px;
  font-size: 14px;
  line-height: 12px;
}
.share-button {
  margin: 5px;
}
.social-network-share-top:hover {
  opacity: 1.0;
}
.social-network-share-bottom {
  margin-left: 70px;
  margin-top: 35px;
}
.social-network-share-bottom div,
.social-network-share-bottom span {
  vertical-align: top !important;
  font-size: 1px;
}
.social-network-share-top {
  position: absolute;
  opacity: 0.3;
  width: 240px;
  height: 60px;
  right: 2px;
  top: 5px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.social-network-share-top div,
.social-network-share-top span {
  vertical-align: top !important;
  font-size: 1px;
}
@media (max-width: 1155px) {
  .social-network-share-top {
    display: none;
  }
}
.party-logo {
  position: relative;
  margin: 20px 0 20px 0;
}
.left .party-logo {
  height: auto;
  width: 100%;
}
.right .party-logo {
  height: auto;
  width: 100%;
}
.pollys .polly-span {
  text-align: center;
}
.pollys img {
  margin: 5px;
  border-radius: 10px;
}
.pollys h3 {
  font-size: 32px;
  margin: 10px;
}
#about-me img {
  float: left;
  margin: 10px;
}
#about-me .bio,
#about-me .github {
  width: 500px;
}
#about-me .bio .signature,
#about-me .github .signature {
  font-weight: 700;
}
#about-me .social {
  text-align: center;
}
#about-me .social .social-button {
  margin: 5px;
}
